@import "normalize";

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #fff;
    color: #222;
    font-size: 18px;
}

a {
    color: #6666ee;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    display: block;
    width: 800px;
    margin: 0 auto;
}

#error {
    background: #efcdcd;
    border: 1px solid #ad2222;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 10px 0;
    font-size: 14px;
}

.header {
    text-align: center;
    border-bottom: 2px solid #efefea;
    padding: 45px 0;
    margin: 0 0 50px;

    h1 {
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        padding: 0;
    }
}

.footer {
    text-align: center;
    border-top: 2px solid #efefea;
    padding: 45px 0;
    margin: 50px 0;
    font-size: 13px;
}

.login-block {
    text-align: center;
    margin: 50px 0;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    background: #6666ee;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #6666ee;

    &:hover {
        text-decoration: none;
        background: #5050da;
    }
}

p {
    line-height: 1.7;
}

.new-feed-block {
    text-align: center;
    margin: 30px 0 50px;

    input[type="text"] {
        display: inline-block;
        width: 400px;
        border: 1px solid #6666ee;
        font-size: 16px;
        margin: 0 10px;
        padding: 10px;
        border-radius: 10px;
        outline: 0;
    }
}

.unsubscribe {
    font-size: 14px;
    margin-left: 10px;
}
