@import "normalize";

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: #fff;
    color: #222;
    font-size: 18px;
}

a {
    color: #6666ee;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

code, pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 90%;
}

code {
    padding: 2px 4px;
}

.container {
    display: block;
    width: 800px;
    margin: 0 auto;
}

.message {
    display: none;
    border-bottom: 1px solid #222;
    padding: 8px 16px;
    margin: 0;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .close {
        float: right;
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }
}

#error {
    background: #efcdcd;
    border-color: #ad2222;
}

#status {
    background: #fcf8e3;
    border-color: #c09853;
}

.header {
    text-align: center;
    border-bottom: 2px solid #efefea;
    padding: 45px 0;
    margin: 0 0 50px;

    h1 {
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        padding: 0;
    }
}

.footer {
    text-align: center;
    border-top: 2px solid #efefea;
    padding: 45px 0;
    margin: 50px 0;
    font-size: 13px;

    ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            margin: 0 14px 0 0;
            padding: 0 14px 0 0;
            border-right: 1px solid #ddd;
            &:last-child {
                border: 0;
            }
        }
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        text-align: right;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.login-block {
    text-align: center;
    margin: 50px 0;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    background: #6666ee;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
    border: 2px solid #6666ee;

    &:hover {
        text-decoration: none;
        background: #5050da;
        border-color: #5050da;
    }

    &.disabled:hover {
        text-decoration: none;
        background: #6666ee;
        border-color: #6666ee;
    }
}

hr {
    border: 0;
    border-top: 2px solid #efefea;
    margin: 40px 0;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

p {
    line-height: 1.7;
}

// FAQ.
ol {
    font-size: 20px;
    font-weight: bold;

    li {
        margin-bottom: 25px;
    }

    p {
        font-size: 16px;
        font-weight: normal;
    }
}

#new-feed-block {
    text-align: center;
    margin: 30px 0 50px;

    input[type="text"] {
        display: inline-block;
        width: 400px;
        border: 2px solid #6666ee;
        font-size: 16px;
        margin: 0 10px;
        padding: 10px;
        border-radius: 10px;
        outline: 0;

        &:focus {
            border-color: #5050da;
            box-shadow: 0 0 8px rgba(102, 102, 238, 0.25);
        }
    }
}

.unsubscribe {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.api-key-block {
    background-color: #eee;
    border: 3px solid #bbb;
    border-radius: 6px;
    padding: 15px;
}

.api-endpoint {

    .api-url {
        display: block;
        padding: 5px 8px;
        background-color: #eee;
        border-top: 3px solid #bbb;
        font-size: 105%;
    }

    .api-desc {
        margin: 0 0 20px;
    }

    .api-resp {
        display: block;
        padding: 8px;
        font-size: 75%;
        background: #eee;
        border: 1px solid #bbb;
        border-radius: 3px;
    }
}
