<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ugly Reader</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ugly.css') }}" type="text/css" />
</head>
<body>
    <div class="container">
        {% block content -%}{%- endblock %}
        <div class="footer">
            <ul class="left">
                <li><a href="{{ url_for('.about') }}">About</a></li>{% if config["CONTACT_URL"] -%}
                <li><a href="{{ config["CONTACT_URL"] }}">Contact</a></li>
                {%- endif %}<li><a href="{{ url_for('.privacy') }}">Privacy</a></li>{% if current_user.is_authenticated() -%}
                <li><a href="{{ url_for('.settings') }}">Settings</a><li><a href="{{ url_for('login.logout') }}">Logout</a></li>
                {%- endif %}
            </ul>
            <div class="right">
                Built with ♥ by
                <a href="http://dan.iel.fm">Dan Foreman-Mackey</a>.
            </div>
        </div>
    </div>
{% block scripts -%}{%- endblock %}
{% if config['GAUGES_ID'] -%}
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ config['GAUGES_ID'] }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
{%- endif %}
</body>
</html>
