{% extends "base.html" %}
{% block content %}
<div id="error">
    <button type="button" class="close" data-dismiss="#error">&times;</button>
    <strong>Error:</strong> <span id="error-message"></span>
</div>

<div class="header">
    <h1>Your Ugly Reader</h1>
</div>

<p>
You're logged in as <strong>{{ g.user.get_email() }}</strong>.
<a href="{{ url_for("login.logout") }}">Logout</a>.
</p>

<p>
{% if g.user.active %}
If you don't want to receive any more emails, you can
<a href="{{ url_for("login.unsubscribe") }}">opt out</a>.
{% else %}
You have opted out of all email contact. Do you
<a href="{{ url_for("login.resubscribe") }}">want back in</a>?
{% endif %}
</p>

<p>
Here's how this works: you list the feeds that you want to follow and then we
check for new posts every 15 minutes. If there are any new posts, you'll get
a message in your Gmail account under the label <strong>[Ugly Reader]/Feed
Title</strong> with the actual title of the feed.
</p>

<div id="feeds-view"></div>

<div class="new-feed-block">
    <form action="" id="add-feed-form">
        <input name="add" type="text" placeholder="Enter a feed URL"></input>
        <a href="javascript:document.getElementById('add-feed-form').submit();" class="btn">Add a new feed</a>
    </form>
</div>

<script type="text/html" id="feeds-template">
<% if (feeds.length > 0) { %>
<p>Your subscriptions:</p>
<% } else { %>
<p>You haven't subscribed to any feeds yet.
How about <a href="?add=xkcd.com">XKCD</a>?</p>
<% } %>
</script>
<script type="text/html" id="feed-template">
<a href="<%= link %>"><%= title %></a>
<span class="unsubscribe">(Unsubscribe)</span>
</script>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/json2.js') }}"></script>
<script src="{{ url_for('static', filename='js/zepto-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ugly.js') }}"></script>
{% endblock %}
