{% extends "base.html" %}
{% block content %}
{% if error -%}
<div id="error" style="display: block;">
    <strong>Error:</strong> {{ error|safe }}
</div>
{%- endif %}
<div class="header">
    <h1>Ugly Reader</h1>
    <h2>The <strong>ugliest</strong> Google Reader replacement on the market.</h2>
</div>
<p>
<strong>Ugly Reader</strong> provides an interface between your favorite
blogs and the best Google Reader replacement yet: Gmail. All you have to do is
tell us what feeds you want to read and we'll deliver them directly to your
Gmail account. Don't worry, we won't clog your inbox; all of the posts will be
sorted in nested labels.
</p>

<p>
To get started, all you have to do is login using your Gmail account
and add some RSS feeds.
</p>
{% include "login_block.html" %}
<hr>
{% include "about_content.html" %}
{% endblock %}
