<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Ugly RSS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ugly.css') }}" type="text/css" />
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-inner">
            <h1>Feeds</h1>
            <ul>
                <li><form><input type="text" name="new" placeholder="New feed URL"></form></li>
                <li>The GitHub Blog <strong>(50)</strong></li>
                <li>XKCD <strong>(5)</strong></li>
                <li>Hogg's Research</li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <ul>
                <li>About</li>
                <li>Settings</li>
                <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
            </ul>
            <div>Built with ♥ by <a href="http://dan.iel.fm">Dan F-M</a>.</div>
        </div>
    </div>
    <div class="container">
        <div class="searchbox">
            <form>
                <input type="text" name="q" placeholder="Search">
            </form>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
