{% extends "feed/base.html" %}

{% block content %}

<h1>The GitHub Blog</h1>

<div class="postblock-small">
    <span class="title">GitHub Flow in the Browser</span>
    <span class="date">4 hours ago</span>
    <div class="summary">
        Now that you can delete files directly on GitHub we've reached a very
        exciting milestone—the entire GitHub Flow™ is now possible using
        nothing but a web browser. What is GitHub Flow? A little while ago
        our very own @schacon
    </div>
</div>

<div class="postblock-small">
    <span class="title">Passion Projects Viewing Party at Gild</span>
    <span class="date">July 11</span>
    <div class="summary">
        Every month we open our doors to the tech community and invite
        somewhere around 50 people to attend a Passion Projects talk here at
        GitHub HQ. We've grown to love the intimate feel of the events and
        the tight-knit communities
    </div>
</div>

{% endblock %}
